html,
body,
.background {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  color: aliceblue;
  letter-spacing: 0.1em;
  text-shadow: 0 0 20px #179dfc;
  background: linear-gradient(0deg, rgba(0, 0, 200, 0.6), rgba(0, 0, 200, 0)); }

.background {
  background: linear-gradient(120deg, rgba(50, 150, 100, 0.6), rgba(0, 0, 100, 0)); }

.background-container {
  background: linear-gradient(240deg, rgba(150, 50, 50, 0.6), rgba(0, 0, 200, 0));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100vh; }

.shitty-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-left: -65px; }
  .shitty-container .buy-or-sell {
    display: inline-block;
    padding-right: 40px; }
  .shitty-container .from-text {
    display: inline-block;
    margin-left: 120px; }

.text-container {
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: -75px;
  margin-top: -23px; }

.coin {
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  font-size: 26px;
  color: aliceblue;
  height: fit-content;
  text-shadow: 0 0 20px #179dfc; }

@keyframes spinningH {
  25% {
    -webkit-transform: rotateX(0deg); }
  25% {
    -webkit-transform: rotateX(-90deg); }
  50% {
    -webkit-transform: rotateX(-180deg); }
  75% {
    -webkit-transform: rotateX(-270deg); }
  100% {
    -webkit-transform: rotateX(-360deg); } }

.animate {
  -webkit-animation: spinningH 10s cubic-bezier(0, 0, 0.2, 1) infinite; }

#cube {
  display: inline-block;
  position: absolute;
  height: 50px;
  width: 100px;
  -webkit-transform-style: preserve-3d; }

#cube2 {
  display: inline-block;
  position: absolute;
  padding-left: 230px;
  height: 50px;
  width: 120px;
  -webkit-transform-style: preserve-3d; }

#cube > div,
#cube2 > div {
  position: absolute;
  height: 55px;
  width: 100px;
  background-position: center center; }

#cube div:nth-child(1),
#cube2 div:nth-child(1) {
  -webkit-transform: translateZ(26.5px);
  background-color: #454b51;
  background-repeat: no-repeat; }

#cube div:nth-child(3),
#cube2 div:nth-child(3) {
  -webkit-transform: rotateX(180deg) translateZ(26.5px);
  background-color: #454b51;
  background-repeat: no-repeat; }

#cube div:nth-child(5),
#cube2 div:nth-child(5) {
  -webkit-transform: rotateX(-90deg) translateZ(26.5px);
  background-color: #3a3f44;
  background-repeat: no-repeat; }

#cube div:nth-child(6),
#cube2 div:nth-child(6) {
  -webkit-transform: rotateX(90deg) translateZ(26.5px);
  background-color: #3a3f44;
  background-repeat: no-repeat; }

.login-button {
  position: relative;
  margin-top: 220px;
  padding: 1em 2em;
  background: none;
  border-style: solid;
  border: 3px solid;
  border-color: aliceblue;
  border-radius: 20px;
  line-height: 1;
  font: inherit;
  letter-spacing: 0.1em;
  color: aliceblue;
  text-shadow: 0 0 20px #179dfc;
  box-shadow: 0 0 10px #179dfc;
  transition: all 1s ease; }

.login-button:hover,
.login-button:focus {
  background: #b4dffe44;
  color: white;
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(255, 255, 255, 0); }

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #9bd4fd; } }

.create-account {
  font-size: 15px;
  text-decoration: none;
  padding-top: 10px; }
  .create-account:after {
    content: "";
    display: block;
    height: 2px;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0; }
  .create-account:hover:after {
    width: 100%;
    left: 0; }
