html,
body,
.background {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  color: #f0f8ff;
  letter-spacing: 0.1em;
  text-shadow: 0 0 20px rgba(23, 157, 252, 100);
}
$text-light: aliceblue;

.background-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 10;
  overflow: hidden;
}
@media (min-width: 600px) {
  .shitty-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-left: -65px;

    .buy-or-sell {
      display: inline-block;
      padding-right: 40px;
    }
    .from-text {
      display: inline-block;
      margin-left: 120px;
    }
  }

  .text-container {
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: -75px;
    margin-top: -23px;
  }
}

.coin {
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  font-size: 26px;
  color: $text-light;
  height: fit-content;
  text-shadow: 0 0 20px rgba(23, 157, 252, 100);
}

@keyframes spinningH {
  25% {
    -webkit-transform: rotateX(0deg);
  }
  25% {
    -webkit-transform: rotateX(-90deg);
  }
  50% {
    -webkit-transform: rotateX(-180deg);
  }
  75% {
    -webkit-transform: rotateX(-270deg);
  }
  100% {
    -webkit-transform: rotateX(-360deg);
  }
}

.animate {
  -webkit-animation: spinningH 10s cubic-bezier(0, 0, 0.2, 1) infinite;
}
#cube {
  display: inline-block;
  position: absolute;
  height: 50px;
  width: 100px;
  -webkit-transform-style: preserve-3d;
}
#cube2 {
  display: inline-block;
  position: absolute;
  padding-left: 230px;
  height: 50px;
  width: 120px;
  -webkit-transform-style: preserve-3d;
}
$height: 55;
#cube > div,
#cube2 > div {
  position: absolute;
  height: $height + px;
  width: 100px;
  background-position: center center;
}

#cube div:nth-child(1),
#cube2 div:nth-child(1) {
  -webkit-transform: translateZ(($height/2)-1 + px);
  background-color: #454b51;
  background-repeat: no-repeat;
}

#cube div:nth-child(3),
#cube2 div:nth-child(3) {
  -webkit-transform: rotateX(180deg) translateZ(($height/2)-1 + px);
  background-color: #454b51;
  background-repeat: no-repeat;
}

#cube div:nth-child(5),
#cube2 div:nth-child(5) {
  -webkit-transform: rotateX(-90deg) translateZ(($height/2)-1 + px);
  background-color: #3a3f44;
  background-repeat: no-repeat;
}

#cube div:nth-child(6),
#cube2 div:nth-child(6) {
  -webkit-transform: rotateX(90deg) translateZ(($height/2)-1 + px);
  background-color: #3a3f44;
  background-repeat: no-repeat;
}

.login-button {
  position: relative;
  cursor: pointer;
  margin-top: 220px;
  padding: 1em 2em;
  background: none;
  border-style: solid;
  border: 3px solid;
  border-color: $text-light;
  border-radius: 20px;
  line-height: 1;
  font: inherit;
  letter-spacing: 0.1em;
  color: $text-light;
  text-shadow: 0 0 20px #179dfc;
  box-shadow: 0 0 10px rgba(23, 157, 252, 100);
  transition: all 1s ease;
  &:hover,
  &:focus {
    outline: none;
    background: #b4dffe44;
    color: $text-light;
    animation: pulse 1s;
    box-shadow: 0 0 0 2em rgba($text-light, 0);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 adjust-hue(#9bd4fd, 0deg);
  }
}

.create-account {
  font-size: 15px;
  text-decoration: none;
  padding-top: 10px;
  color: $text-light;
  &:after {
    content: "";
    display: block;
    height: 2px;
    background: $text-light;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  &:hover:after {
    width: 100%;
    left: 0;
  }
}

$prism-height: 400px;
$prism-length: 500px;
@media only screen and (max-height: 950px) {
  $prism-height: 300px;
  $prism-length: 500px;
}
$prism-depth: $prism-length;
$spacing: 25px;
$br: 3px;

* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  text-align: center;
  -webkit-font-smoothing: always;
}
.wrapper {
  width: $prism-length;
  height: $prism-height;
  @media screen and (max-height: 770px) {
    height: 200px;
  }
  perspective: 600px;
  text-align: left;
  position: relative;
}

.cube-thingy {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s ease-in;
}

.face {
  position: absolute;
  width: $prism-length;
  height: $prism-height;
  padding: $spacing;
  @media only screen and (max-height: 950px) {
    height: 300px;
    padding: 10px;
  }
  @media only screen and (max-height: 770px) {
    height: 220px;
    padding: 10px;
  }
  background: rgba(140, 180, 220, 0.94);
  border: 3px solid $text-light;
  border-radius: 3px;
  text-shadow: 0 0 20px #179dfc;

  .content {
    color: $text-light;
    margin-top: 5px;
    h2 {
      font-size: 2em;
      @media only screen and (max-height: 770px) {
        font-size: 1em;
      }
      color: $text-light;
      margin: 0;
    }
    .donate {
      font-size: 4em;
      margin-bottom: 0.5em;
    }
    .donate-coin {
      font-size: 1.5em;
    }
    .field-wrapper {
      margin-top: $spacing * 1.5;
      @media only screen and (max-height: 950px) {
        margin-top: 17px * 1.5;
      }
      @media only screen and (max-height: 770px) {
        margin-top: 10px * 1.5;
      }
      position: relative;

      label {
        position: absolute;
        pointer-events: none;
        font-size: 0.85em;
        top: 40%;
        left: 0;
        transform: translateY(-50%);
        transition: all ease-in 0.25s;
      }

      input[type="text"],
      input[type="password"],
      textarea {
        width: 100%;
        border: none;
        background: transparent;
        line-height: 2em;
        font-size: 2em;
        @media screen and (max-height: 950px) {
          line-height: 1em;
          font-size: 1em;
        }
        @media screen and (max-height: 770px) {
          line-height: 1em;
          font-size: 1em;
        }
        border-bottom: 1px solid $text-light;
        color: $text-light;
        -webkit-appearance: none;
        outline: none;
        &::-webkit-input-placeholder {
          opacity: 0;
        }
        &:focus,
        &:not(:placeholder-shown) {
          + label {
            top: -35%;
            color: $text-light;
          }
        }
      }
      input[type="submit"] {
        cursor: pointer;
        width: 100%;
        background: transparent;
        line-height: 1em;
        @media screen and (max-height: 770px) {
          line-height: 1em;
        }
        color: $text-light;
        border: 1px solid $text-light;
        border-radius: $br;
        padding: $spacing/4;

        &:hover {
          opacity: 0.9;
          background: $text-light;
          color: rgba(140, 180, 220, 0.94);
          border: 1px solid rgba(140, 180, 220, 0.94);
        }
        &:active {
          transform: scale(0.96);
        }
      }
      textarea {
        resize: none;
        line-height: 1em;
        &:focus,
        &:not(:placeholder-shown) {
          + label {
            top: -25%;
          }
        }
      }
    }
  }

  .thank-you-msg {
    position: absolute;
    width: 400px;
    height: 130px;
    text-align: center;
    font-size: 2em;
    color: $text-light;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);

    &:after {
      position: absolute;
      content: "";
      width: 50px;
      height: 25px;
      border: 10px solid $text-light;
      border-right: 0;
      border-top: 0;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(0);
      -webkit-animation: success ease-in 0.15s forwards;
      animation-delay: 2s;
    }
  }
  &-front {
    transform: rotateY(0deg) translateZ($prism-length/2);
  }
  &-top {
    height: $prism-depth;
    transform: rotateX(90deg) translateZ($prism-depth/2);
  }
  &-right {
    transform: rotateY(90deg) translateZ($prism-length/2);
  }
  &-left {
    transform: rotateY(-90deg) translateZ($prism-length/2);
  }
  &-bottom {
    height: $prism-depth;
    @media only screen and (max-height: 950px) {
      transform: rotateX(-90deg) translateZ(300px - (500px/2));
    }
    @media only screen and (max-height: 770px) {
      transform: rotateX(-90deg) translateZ(220px - (500px/2));
    }
    transform: rotateX(-90deg) translateZ($prism-height - ($prism-depth/2));
  }
  &-back {
    transform: rotateY(180deg) translateZ($prism-length/2);
  }
}

.nav {
  margin: $spacing 0;
  padding: 0;
  position: absolute;
  top: 0px;
  li {
    display: inline-block;
    font-size: 1.4em;
    margin: 0 $spacing/2;
    position: relative;
    cursor: pointer;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      border-top: 2px solid $text-light;
      border-bottom: 2px solid $text-light;
      transition: width 0.3s ease 0s, left 3s ease 0s;
      width: 0px;
    }
    &:hover:after {
      width: 100%;
    }
  }
}

.signup,
.singin {
  display: block;
  margin: 20px 0;
  @media screen and (max-height: 770px) {
    margin: 10px 0;
  }
  font-size: 0.75em;
  text-align: center;
  color: $text-light;
  cursor: pointer;
}

@keyframes success {
  from {
    transform: translate(-50%, -50%) rotate(0) scale(0);
  }
  to {
    transform: translate(-50%, -50%) rotate(-45deg) scale(1);
  }
}

canvas {
  width: inherit !important;
  height: 100vh;
  z-index: 1 !important;
}
